---
# readability-make-member-function-const is great, but it also suggests that
#    in cases where we return a non-const pointer. So good to check, not by
#    default.
#
# readability-qualified-auto is useful in general, however it suggests
#    to convert iterators (e.g. std::string_view::begin()) to the pointer it
#    returns; however since the iterator is implementation defined, this is not
#    a valid assertion. Running the check every now and then manually and
#    fixing all the non-iterator cases is useful though. Off by default.
#
# Some other not entirely useful checks are also disabled, to be revisited
# later.
##
Checks: >
  clang-diagnostic-*,clang-analyzer-*,
  abseil-*,
  readability-*,
  -readability-make-member-function-const,
  -readability-qualified-auto,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-else-after-return,
  -readability-uppercase-literal-suffix,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  google-*,
  -google-readability-braces-around-statements,
  -google-readability-todo,
  -google-readability-casting,
  performance-*,
  bugprone-*,
  -bugprone-narrowing-conversions,
  -bugprone-string-integer-assignment,
  -bugprone-parent-virtual-call,
  -bugprone-easily-swappable-parameters,
  modernize-use-override,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,

WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
...
