---
Language:        Cpp
ColumnLimit: 100
AccessModifierOffset: -1
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
...
